* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(78, 74, 74);
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
 
img {
     width: 40%;
     margin-top: 10vh;
 }

.title {
    font-size: 5vw;
    color: whitesmoke;
}

input {
    margin-top: 20px;
}

p {
    color: whitesmoke;
    font-size: 3vw;
}
